<!DOCTYPE html>
<html lang="en" ng-app="dashboardApp" class="parent-height-100">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="Expires" content="0"/>

    <link rel="icon" href="../../favicon.ico">

    <title>SpeakToMe</title>

    <!-- Bootstrap core CSS -->
    <!--<link href="../../dist/css/bootstrap.min.css" rel="stylesheet">-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

    <!-- Custom styles for this template -->
    <link href="/static/css/dashboard.css" rel="stylesheet">
    <link href="/static/css/common.css" rel="stylesheet">

    <!--<script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>-->
      <script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.js"></script>
    <script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-route.js"></script>
  </head>

  <body class="parent-height-100">

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">SpeakToMe</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="#">Dashboard</a></li>
            <li><a href="/#contact">Contact</a></li>
          </ul>
<!--          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form> -->
        </div>
      </div>
    </nav>

    <div class="container-fluid parent-height-100">
      <div class="row parent-height-100">
        <div class="col-sm-3 col-md-2 sidebar">
            <h4 ng-controller="globalMenuController">{{user.connectionStatus}}</h4>
            <div ng-controller="globalMenuSwitcherController">
                <div  class="row list-group-item row-item {{isActive}}" ng-repeat="item in user.contacts" ng-click="chatSelected()">
                    <a href="#/chat/{{item.jid}}" class="global-menu-item {{isActive ? 'global-menu-item-active' : ''}}">
                        <div class="col-sm-10 global-menu-item">
                            {{item.name ? item.name : item.jid}}
                        </div>
                        <span class="badge" style="float:right">{{ (item.history | filter:{ direction: 'from', viewed: false }).length }}</span>
                    </a>
                </div>
            </div>
        </div>


        <div ng-view class="parent-height-100"></div>


      </div>
    </div>

    <script src="/static/js/dashboard.js" type="text/javascript"></script>
    <script src="/static/js/signin.js" type="text/javascript"></script>
    <script src="/static/js/dashboard/chat.js"></script>
    <script src="/static/js/xmpp.js" type="text/javascript"></script>
    <script src="/static/js/thirdparty/strophe.js" type="text/javascript"></script>
    <!--<script src="/static/js/thirdparty/strophe.min.js" type="text/javascript"></script>-->
    <script src="/static/js/thirdparty/strophe-roster.js" type="text/javascript"></script>
  </body>
</html>
